<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>Esqueceu sua senha?</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="forgotPasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="standard" fxFlex>
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="exibirErro('email')">
          {{ getErrorMessage('email') }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" (click)="submit()"
    [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)" class="custom-button"
    matTooltip="Enviar Formulário">
    <mat-icon>send</mat-icon> Enviar
  </button>

  <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon>Fechar</button>
</mat-dialog-actions>