<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>Login</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="loginForm">
    <div fxFlex fxLayout="column">
      <!--  -->
      <mat-form-field appearance="standard" fxFlex>
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="exibirErro('email')">
          {{ getErrorMessage('email') }}
        </mat-error>
      </mat-form-field>
      <!--  -->
      <mat-form-field appearance="standard" fxFlex>
        <mat-label>Senha</mat-label>
        <input matInput formControlName="senha" type="password" required [type]="esconder ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="esconder = !esconder"
          matTooltip="{{ esconder ? 'Mostrar senha' : 'Esconder senha' }}">
          <mat-icon>{{ esconder ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="exibirErro('senha')">
          {{ getErrorMessage('senha') }}
        </mat-error>
      </mat-form-field>
      <!--  -->
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" (click)="submit()"
    [disabled]="!(loginForm.valid && loginForm.dirty)" class="custom-button">
    <mat-icon>login</mat-icon> Entrar
  </button>

  <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon>Fechar</button>
</mat-dialog-actions>