<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>{{dialogData.dialogData}}</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="categoriaForm">
    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap">
        <mat-form-field appearance="standard" fxFlex>
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" required>
          <mat-error *ngIf="categoriaForm.controls.nome.touched && categoriaForm.controls.nome.invalid">
            <span *ngIf="categoriaForm.controls.nome.errors.required">O campo nome é requerido!</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" type="submit" (click)="submit()"
    [disabled]="!(categoriaForm.valid && categoriaForm.dirty)">
    <mat-icon>save</mat-icon> {{acao}}
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>
    <mat-icon>cancel</mat-icon>Fechar
  </button>
</mat-dialog-actions>