<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Sistema de gerenciamento de café
    </a>
    <ul>
      <li>
        <a (click)="openModalLogin()">
          <mat-icon>login</mat-icon> Login
        </a>
        <a (click)="openModalInscricao()">
          <mat-icon>person_add</mat-icon> Inscreva-se
        </a>
        <a (click)="openModalEsqueciaASenha()">
          <mat-icon>lock_open</mat-icon> Esqueceu a senha?
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>Desenvolvido por Gestão Inteligente</h2>
</div>